@using Ecommerce.Models;
@model IEnumerable<Product>
@{
    ViewData["Title"] = "Index";
     Layout = "~/Views/Shared/_Layout.cshtml";
}

<br /><br />



<form method="post">
    <div class="row">
        <div class="col-3">
            <input type="text" class="form-control" name="LowAmount" />
        </div>
          <div class="col-3">
            <input type="text" class="form-control" name="LargeAmount" />
        </div>
        <div class="col-3">
            <input type="submit" value="Search" class="btn btn-success" />
        </div>
    </div>
</form>

<div class="row">
    <div class="col-6">
        <h2 class="text-info">Product List</h2>
    </div>
    <div class="col-6 text-right">
        <a asp-action="Create"  class="btn btn-info">&nbsp;<i class="fas fa-plus-circle"></i>  New Product</a>
    </div>
</div>
<br />

<div>
    <table class="table table-striped table-hover" id="myTablet" style="width:100%;">
           <thead>
        <tr class="table-info" >
            <th>
                @Html.DisplayNameFor(expression: c => c.Name)
            </th>
            <th>
                @Html.DisplayNameFor(expression: c => c.Price)
            </th>
             <th>
                @Html.DisplayNameFor(expression: c => c.ProductColor)
            </th>
             <th>
                @Html.DisplayNameFor(expression: c => c.isAvailable)
            </th>
             <th>
                @Html.DisplayNameFor(expression: c => c.ProductType)
            </th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        @foreach(var item in Model)
            {
                <tr>
                    <td>
                        @item.Name
                    </td>
                     <td>
                        @item.Price
                    </td>
                    <td>
                        @item.ProductColor
                    </td>
                     <td>
                        @item.isAvailable
                    </td>
                     <td>
                        @item.ProductType
                    </td>
                    <td>
                     <partial name="_ProductButton" model="@item.Id" />
                    </td>
                </tr>
            }
    </table>
</div>

@section scripts{

<script src="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/alertify.min.js"></script>

<script type="text/javascript">    

 $(document).ready( function () {
            $('#myTable').DataTable({
                dom: 'Bfrtip',
                buttons: [
                    'pageLength','copy', 'csv', 'excel', 'pdf', 'print'
                ]
            });
        } );


$(function(){
var save = '@TempData["save"]'
if(save!=null)
{   
 alertify.success(save);
}
var edit = '@TempData["edit"]'
if(edit!='')
{
    alertify.success(edit);
}
 var del = '@TempData["delete"]'
if(del!='')
{
    alertify.error(del);
}
 })
 </script>
}
 
